* {
box-sizing: border-box;
}

body {
   margin: 0;
}

/* Global styles */
  body {
  background: linear-gradient(to bottom, #eeeeee, #ffffff);
  background-attachment: fixed;
  font-family: Verdana, Arial, sans-serif;
}

/* Wrapper */
#wrapper {
   display: grid;
   grid-auto-rows: minmax(0px, auto);
   grid-template-columns: 
      minmax(0px, 1fr)
      repeat(6, minmax(0, 175px))
      minmax(0px, 1fr);
}

/* Header styles */
header {
  background-color: #003058;
  color: #FFFFFF;
  font-family: Georgia, serif;
  grid-row: 1 / 2;
  grid-column: 2 / 8;
}

header a {
   text-decoration: none;
   color: #FFFFFF;
}

/* Header h1 descendant selector */
header h1 {
 background-image: url(utahtechlogo.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content-box;
  padding-left: 1em;
  margin: 0;
  padding:.2em;
}

/* Navigation styles */
nav {
   grid-row: 2 / 3;
   grid-column: 2 / 8;
   background-color: #424242;
   margin: 0;
   padding: 0;
   position: sticky;
   top: 0;
}

nav ul {
   margin: 0;
   padding: 0;
   display: flex;
   flex-flow: row nowrap;
   list-style-type: none;
}

nav ul li {
   width: 100%;
}

#homehero,
#studenthero,
#facultyhero {
   grid-row: 3 / 4;
   grid-column: 2 / 8;
}

nav a {
   color: #FFFFFF;
   padding: 1rem 0rem;
   display: block;
   text-align: center;
   text-decoration: none;
}

nav a:hover {
   background-color: #BA1C21;
}

/* Heading level 2 */
h2 {
  color: #424242;
  font-family: Georgia, serif;
}

h3 {
  color: #003058;
}

main {
   grid-row: 4 / 5;
   grid-column: 2 / 8;
   background-color: #ffffff;
}

main img {
   float: right;
   padding-left: 2rem;
}

#homehero {
  height: 300px;
  background-image: url(homehero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#studenthero {
  height: 300px;
  background-image: url(studenthero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#facultyhero {
  height: 300px;
  background-image: url(facultyhero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Definition term (students page) */
dt {
  color: #003058;
  font-weight: bold;
}

/* Utility class */
.ut {
  color: #BA1C21;
  font-weight: bold;
}

/* Footer styles */
footer {
   grid-row: 5 / 6;
   grid-column: 2 / 8;
}
