* {
box-sizing: border-box;
}


/* Global styles */
  body {
  background: linear-gradient(to bottom, #eeeeee, #ffffff);
  background-attachment: fixed;
  font-family: Verdana, Arial, sans-serif;
}

/* Wrapper */
#wrapper {
  display: grid;
  grid-auto-rows: minmax(0, auto);
  grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

/* Header styles */
header {
  background-color: #003058;
  color: #FFFFFF;
  font-family: Georgia, serif;
  grid-row: 1 / 2;
  grid-column: 2 / -2;
}

/* Header h1 descendant selector */
header h1 {
 background-image: url(utahtechlogo.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content-box;
  padding-left: 1em;
  margin-bottom: 0;
  padding:.2em;
}

/* Navigation styles */
nav {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  grid-row: 2 / 3;
  grid-column: 2 / -2;
}
#homehero, #studenther, #facultyhero

nav a {
  text-decoration: none;
}

/* Heading level 2 */
h2 {
  color: #424242;
  font-family: Georgia, serif;
}

h3 {
  color: #003058;
}

main {
  padding-left: 2rem;
  padding-right: 2rem;
}

#homehero {
  height: 300px;
  background-image: url(homehero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#studenthero {
  height: 300px;
  background-image: url(studenthero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#facultyhero {
  height: 300px;
  background-image: url(facultyhero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Definition term (students page) */
dt {
  color: #003058;
  font-weight: bold;
}

/* Utility class */
.ut {
  color: #BA1C21;
  font-weight: bold;
}

/* Footer styles */
footer {
  padding: 1rem;
}
