* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5b5454;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  height: 90vh;
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  grid-template-rows: 80px 1fr;
  gap: 40px;
}


.top-bar {
  grid-column: 1 / 4;
  background-color: #4b0008; 
}


.left-bar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: #4b0008;
}


.main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #e6e6e6;
}


.right-bar {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: #4b0008;
}