* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5b5353; 
    height: 100vh;
}

.container {
    display: grid;
    grid-template-rows: 60px 1fr 300px;
    height: 100vh;
}

.top-bar {
    background-color: #3b0008;
}

.middle {
    background-color: #5b5353;
}

.bottom {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
}

.left-bar,
.right-bar {
    background-color: #3b0008;
}

.center {
    background-color: #ffffff;
}